---
---
<!DOCTYPE html>
<html lang="en">
<head>{% include head.html %}</head>
<body>
  <main>
    <h1>{% include title.html page=page %}</h1>
    <ol>
    {% for track in page.tracks %}
    <li data-track="{{ track.link }}"><a href="{{ track.link }}">{{ track.title }}</a></li>
    {% endfor %}
    </ol>
    <button data-play>▶ Play All</button>
  </main>

  <div data-container></div>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script>
    var SOUNDCLOUD_REGEX = /soundcloud\.com/;
    var YOUTUBE_REGEX = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;

    var current = -1;
    var container = document.querySelector("[data-container]");
    var tracks = document.querySelectorAll("[data-track]");
    document.querySelector("[data-play]").addEventListener("click", start);

    function start() {
      current++;
      container.innerHTML = "";

      var match;
      var el = tracks[current % tracks.length];
      var trackUrl = el.dataset.track;

      if (match = trackUrl.match(SOUNDCLOUD_REGEX)) {
        setupSoundcloud(trackUrl);
      } else if (match = trackUrl.match(YOUTUBE_REGEX)) {
        setupYoutube(match[2]);
      }
    }

    function setupSoundcloud(url) {
      var el = document.createElement("iframe");
      el.src = "https://w.soundcloud.com/player/?url=" + url + "&auto_play=true";
      el.setAttribute("height", 166);
      el.setAttribute("width", "100%");
      el.setAttribute("scrolling", "no");
      el.setAttribute("frameborder", "no");
      el.setAttribute("allow", "autoplay");
      container.appendChild(el);
      SC.Widget(el).bind(SC.Widget.Events.FINISH, start);
    }

    function setupYoutube(videoId) {
      var player = document.createElement("div");
      player.id = "player";
      container.appendChild(player);

      new YT.Player("player", {
        height: window.innerHeight,
        width: window.innerWidth,
        videoId: videoId,
        events: {
          "onReady": function(event) {
            event.target.playVideo()
          },
          "onStateChange": function(event) {
            if (event.data == YT.PlayerState.ENDED) start();
          }
        }
      });

      window.scrollTo(0,document.body.scrollHeight);
    }
  </script>
</body>
</html>
