---
empty: []
---
<!DOCTYPE html>
<html lang="en">
<head>{% include head.html %}</head>
<body>
  <main>
    <h1>{% include title.html page=page %}</h1>
    {% include citation.html %}
    <ol>
    {% for track in page.tracks %}
    <li data-track="{{ track.link }}">
      {{ track.title }}
      <a href="{{ track.link }}" title="External link" target="_blank">{% include external.svg %}</a>
    </li>
    {% endfor %}
    </ol>
    <div>
      {% if page.tracks == empty %}
      <i>Nothing here yet</i>
      {% else %}
      <button data-play class="play">Play All</button>
      {% endif %}
      &nbsp;
      <a href="https://github.com/hkgumbs/mixtape/edit/master/{{ page.path }}" target="_blank">Submit Your Track</a>
    </div>
  </main>

  <div data-container></div>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script src="https://platform.twitter.com/widgets.js"></script>
  <script>{% include player.js %}</script>
</body>
</html>
